<app-navbar></app-navbar>
<app-hero></app-hero>

<main>
  <app-details></app-details>
  
  <!-- RSVP: Dark -->
  <div class="bg-[#828A6c]">
    <app-rsvp></app-rsvp>
  </div>

  <!-- Where/Map: Light -->
  <app-where [mapUrl]="mapUrl" [mapDirectionsUrl]="mapDirectionsUrl"></app-where>

  <!-- Schedule: Dark (Moved here) -->
  <div class="bg-[#828A6c]">
    <app-schedule [schedule]="schedule"></app-schedule>
  </div>

  <!-- Accomodation: Light (Moved here) -->
  <app-accomodation [hotels]="hotels"></app-accomodation>
  
</main>

<!-- Footer: Dark -->
<div class="bg-[#828A6c]">
  <app-wedding-footer></app-wedding-footer>
</div>