<!-- MAP -->
<section id="where" class="py-20 md:py-32">
  <div class="mx-auto max-w-4xl px-6">
    <div appAnimateOnScroll class="section-to-animate text-center">
      <h2 class="text-beige font-adore mb-6 text-5xl">Come Arrivare</h2>

      <div class="mb-8">
        <p class="text-gray text-3xl">Colcaprile</p>
        <p class="mt-2 text-lg text-gray-500">Strada Comunale Santa Croce, Assisi (PG)</p>
      </div>

      <div class="aspect-video w-full overflow-hidden rounded-md border-4 border-white shadow-lg">
        <iframe
          [src]="mapUrl"
          width="100%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
      <a
        [href]="mapDirectionsUrl"
        target="_blank"
        class="bg-green-light hover:bg-green-dark mt-8 inline-block rounded-md px-8 py-3 tracking-widest text-white uppercase transition-colors duration-300"
        >Apri Indicazioni</a
      >
    </div>
  </div>
</section>
