<div class="font-sans mt-8 text-white/90 flex justify-center items-center space-x-4 md:space-x-8">
  <div class="text-center">
    <p class="text-4xl md:text-6xl font-light tracking-wider">{{ days() }}</p>
    <p class="text-sm uppercase tracking-widest">Giorni</p>
  </div>
  <div class="text-4xl md:text-6xl font-thin -mt-4">:</div>
  <div class="text-center">
    <p class="text-4xl md:text-6xl font-light tracking-wider">{{ hours() }}</p>
    <p class="text-sm uppercase tracking-widest">Ore</p>
  </div>
  <div class="text-4xl md:text-6xl font-thin -mt-4">:</div>
  <div class="text-center">
    <p class="text-4xl md:text-6xl font-light tracking-wider">{{ minutes() }}</p>
    <p class="text-sm uppercase tracking-widest">Minuti</p>
  </div>
  <div class="text-4xl md:text-6xl font-thin -mt-4">:</div>
  <div class="text-center">
    <p class="text-4xl md:text-6xl font-light tracking-wider">{{ seconds() }}</p>
    <p class="text-sm uppercase tracking-widest">Secondi</p>
  </div>
</div>
