<!-- STAY -->
<section id="accomodation" class="py-20 md:py-32">
  <div class="mx-auto max-w-4xl px-6 text-center">
    <div appAnimateOnScroll class="section-to-animate">
      <h2 class="font-adore text-beige mb-6 text-5xl">Dove Soggiornare</h2>
      <p class="text-gray italic">
        Per chi desidera fermarsi a pernottare, vi lasciamo la libertà di scegliere la soluzione che
        preferite, così da organizzare il soggiorno secondo le vostre esigenze. Nei dintorni sono presenti
        diverse strutture, e il centro di Assisi – a circa 20 minuti – offre un'ampia scelta di hotel e
        agriturismi che vi consigliamo di valutare.
      </p>
    </div>
  </div>
</section>
