<!-- DETAILS SECTION -->
<section id="details" appAnimateOnScroll class="section-to-animate py-20 md:py-32">
  <div class="mx-auto max-w-4xl px-6 text-center">
    <h2 class="font-adore text-beige mb-12 text-5xl">Il Nostro Giorno</h2>
    <div class="grid grid-cols-1 gap-12 text-lg md:grid-cols-3">
      <div class="flex flex-col items-center">
        <ng-icon name="hugeCalendar04" size="40px" class="!text-green-light mb-4"></ng-icon>

        <h3 class="text-beige mb-2 text-2xl">Quando</h3>
        <p>Sabato 20 Giugno 2026<br />ore 16:30</p>
      </div>
      <div class="flex flex-col items-center">
        <ng-icon name="hugeLocation01" size="40px" class="!text-green-light mb-4"></ng-icon>

        <h3 class="text-beige mb-2 text-2xl">Dove</h3>
        <p>Colcaprile<br /><span>Strada Comunale Santa Croce, Assisi (PG)</span></p>
      </div>
      <div class="flex flex-col items-center">
        <ng-icon name="hugeMail01" size="40px" class="!text-green-light mb-4"></ng-icon>
        <h3 class="text-beige mb-2 text-2xl">RSVP</h3>
        <p>È gradita gentile conferma<br /><span>entro il 20 Maggio 2026</span></p>
      </div>
    </div>
  </div>
</section>
